language: android

jdk: 
  - oraclejdk8

android:
 components: 
 - tools
 - tools
 - platform-tools
 - build-tools-25.0.0
 - android-25
 - extra-android-m2repository
 
 licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
    
 before_install:
 - chmod +x gradlew
 
 sudo: required
 
  # newest Android NDK
  - if [ `uname -m` = x86_64]; then wget https://dl.google.com/android/repository/android-ndk-r13b-linux-x86_64.zip -O ndk.tgz; else wget http://dl.google.com/android/ndk/android-ndk-r9c-linux-x86.tar.bz2 -O ndk.tgz; fi
  - tar -xf ndk.tgz
  - export ANDROID_NDK_HOME=`pwd`/android-ndk-r13b
  - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:${ANDROID_NDK_HOME}
