language: android

jdk: 
  - oraclejdk8
  
env:
  global:
  - NDK_VERSION=r13b
  - ANDROID_NDK_HOME=$HOME/android-ndk-$NDK_VERSION

android:
 components: 
 - tools
 - tools
 - platform-tools
 - build-tools-25.0.0
 - android-25
 - extra-android-m2repository
 
 licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
    
 before_install:
 - chmod +x gradlew
 
 sudo: required

# install & cache NDK
  - curl https://dl.google.com/android/repository/android-ndk-${NDK_VERSION}-linux-x86_64.zip -z ${ANDROID_NDK_HOME}/ndk-build -o $HOME/ndk-${NDK_VERSION}.zip
  - (unzip -q $HOME/ndk-$NDK_VERSION.zip -d $HOME; true)
  - ls $ANDROID_NDK_HOME
  # wait for emulator after ndk
  - android-wait-for-emulator
- adb shell input keyevent 82 &
