language: android

jdk: 
  - oraclejdk8
  
env:
  global:
  - NDK_VERSION=r13b
  - ANDROID_NDK_HOME=$HOME/android-ndk-$NDK_VERSION

android:
 components: 
 - tools
 - platform-tools
 - build-tools-25.0.2
 - android-25
 - extra-android-m2repository
 
 licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
    
 before_install:
 - chmod +x gradlew
 
 sudo: required
